/*TEXT SIZES*/
.txt-xxs {
    font-size: 11px;
}

.txt-xs {
    font-size: 12px;
}

.txt-sm {
    font-size: 13px;
}

.txt-md {
    font-size: 14px;
}

.txt-mlg {
    font-size: 16px;
}

.txt-lg {
    font-size: 18px;
}

.txt-xl {
    font-size: 24px;
}

.txt-xxl {
    font-size: 32px;
}

/*TEXT SIZE WITH WIEGHTS*/
.semibold-txt-xs {
    font-size: 12px;
    font-weight: 600;
}

.semibold-txt-sm {
    font-size: 13px;
    font-weight: 600;
}

.semibold-txt-md {
    font-size: 14px;
    font-weight: 600;
}

.semibold-txt-mlg {
    font-size: 16px;
    font-weight: 600;
}

.semibold-txt-lg {
    font-size: 18px;
    font-weight: 600;
}

.semibold-txt-xl {
    font-size: 24px;
    font-weight: 600;
}

.semibold-txt-xxl {
    font-size: 32px;
    font-weight: 600;
}

.title-sm {
    font-size: 13px;
    font-weight: bold;
}

.title-md {
    font-size: 14px;
    font-weight: bold;
}

.title-mlg {
    font-size: 16px;
    font-weight: bold;
}

.title-lg {
    font-size: 18px;
    font-weight: bold;
}

.title-xl {
    font-size: 24px;
    font-weight: bold;
}

.title-xxl {
    font-size: 32px;
    font-weight: bold;
}

.title-mxxl {
    font-size: 36px;
    font-weight: bold;
}

.title-xxxl {
    font-size: 48px;
    font-weight: bold;
}

#header_ctrl {
    height: 50px;
    position: absolute;
    width: 100%;
    top: 0;
}
#title_ctrl {
    height: calc(100% - 50px);
    position: absolute;
    width: 100%;
    top: 50px;
}
#title_section {
    height : 100%;
    width : 100%;
}
.sub_section {
    text-align : center;
    width : 100%;
    position:absolute;
    top:50%;
    transform:translateY(-50%);
}
#header_sections {
    width : 100%;
    height: 100%;
}

#header_sections .header-section {
    width : 19%;
    height : 100%;
    display: inline-block;
    vertical-align: middle;
    text-align : center;
}
#header_sections .header-section span{
    line-height : 30px;
    cursor : pointer;
}
.content-row {
    text-align : center;
    border: 1px black solid;
    margin-bottom : 10px;
    width : 90%;
    margin-left : auto;
    margin-right : auto;
}

.content-title {
    margin-top: 10px;
    margin-bottom: 20px;
}
.content {
    overflow-y: hidden;
    margin-bottom: 20px;
}
.content-truncated {
    height: 40px;
    overflow-y: hidden;
    margin-bottom: 20px;
}

.content-footer {
    cursor : pointer;
}
.title-footer {
    position: absolute;
    text-align: center;
    width: 100%;
    top: calc(100% - 50px);
    cursor: pointer;
}

#content_section {
    min-height : 100%;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes content {
    from {background-color: red;}
    to {background-color: yellow;}
}

/* Standard syntax */
@keyframes content {
    from {background-color: red;}
    to {background-color: yellow;}