<div class="content-row" >
    <div class="title-lg content-title">
        IF YOU CAME
    </div>
    <div class=" txt-md content-bulk"
         ng-class="{'content' : !collapsed, 'content-truncated' : collapsed }">
        With my lips I would reach out, gently stretched,<br>
        A kiss the falling breeze becomes in time.<br>
        Dressed in sliver light if you came and fallen stars,<br>
        from the cold night I would shiver upwards to touch the sky.<br>
        I am at a shore, gazing at the bobbing light blobs<br>
        floating over drunk waves; if you came in sleep<br>
        I sift from land to sea and to your voice would ride.<br>
        From between the clouds if you came like breaking light<br>
        the eager flower I would be, waiting for a kiss to bloom;<br>
        Let the naked earth gather petals and in colors be shrouded,<br>
        letting the place to scent I would be the last one to unwind.<br>
    </div>
    <div class="content-footer">
        <span ng-if="collapsed">
            READ IT
        </span>
        <span ng-if="!collapsed">
            I READ
        </span>
    </div>
</div>
<div class="content-row" >
    <div class="title-lg content-title">
        EVIL STORY
    </div>
    <div class="txt-md content-bulk"
         ng-class="{'content' : !collapsed, 'content-truncated' : collapsed }">
        Them a story wrought for high world and peace<br>
        Story of old, that the world burned in sacrifice,<br>
        He said as we listened, then a story well knit:<br>
        Out of ash and fire, creatures climbed, of purpose<br>
        They of certain belief smiled, and caught a paradise;<br>
        For brief moment, the old man said as we have belief<br>
        Deep eyes, died out red and of pure yellow coal<br>
        Does a shadow arise and transform forth the servant<br>
        Of ghastly love into dark distance, I see emerge the tall lie<br>
        We all came not for, the long tentacles ‘round our throats.<br>
    </div>
    <div class="content-footer">
        <span ng-if="collapsed">
            READ IT
        </span>
        <span ng-if="!collapsed">
            I READ
        </span>
    </div>
</div>
<div class="content-row" >
    <div class="title-lg content-title">
        A SOLITARY WALK
    </div>
    <div class="txt-md content-bulk"
         ng-class="{'content' : !collapsed, 'content-truncated' : collapsed }">
        Subtle a shadow murmurs by the lights’ passage,<br>
        beam glorious into the divide that has hell intrude;<br>
        Has not a man ever by darkness so shaken, that he<br>
        the love’s child, the lost child, held by a sorry visage;<br>
        Feet of us the pavement pressed sinking into light,<br>
        a caveman’s dream- so grave- brought into the light.<br>
        Grief is held by wide eyes: closed shut, we find ourselves;<br>
        Eyes staring into eyes, love is love’s child, the lone wealth.<br>
    </div>
    <div class="content-footer">
        <span ng-if="collapsed">
            READ IT
        </span>
        <span ng-if="!collapsed">
            I READ
        </span>
    </div>
</div>
