<div class="content-row" >
    <div class="title-lg content-title">
        A POEM
    </div>
    <div class="content txt-md">
        With my lips I would reach out, gently stretched,<br>
        A kiss the falling breeze becomes in time.<br>
        Dressed in sliver light if you came and fallen stars,<br>
        from the cold night I would shiver upwards to touch the sky.<br>
        I am at a shore, gazing at the bobbing light blobs<br>
        floating over drunk waves; if you came in sleep<br>
        I sift from land to sea and to your voice would ride.<br>
        From between the clouds if you came like breaking light<br>
        the eager flower I would be, waiting for a kiss to bloom;<br>
        Let the naked earth gather petals and in colors be shrouded,<br>
        letting the place to scent I would be the last one to unwind.<br>
    </div>
    <div class="content-footer">
        READ IT
    </div>

</div>
