<div id="header_ctrl">
    <div class="" id="header_sections">
        <div class="header-section">
            <span>
                Briefly Quoted
            </span>
        </div>
        <div class="header-section">
            <span>
                Of Those Many Words
            </span>
        </div>
        <div class="header-section">
            <span>
                Justly Said
            </span>
        </div>
        <div class="header-section">
            <span>
                Lexical Surrogacy
            </span>
        </div>
        <div class="header-section">
            <span>
                Numbers and Numeracy
            </span>
        </div>
    </div>
</div>
