<div id="title_ctrl">
    <div class="" id="title_section">
        <div class="sub_section">
            <div class="title-xxl">
                <span>
                    MAD QUILL
                </span>
            </div>
            <div class="txt-md">
                <span>
                    World of Snehal Bhayani
                </span>
            </div>
        </div>
        <div class="txt-md title-footer">
            <span>
                Browse Through My Mind
            </span>
        </div>
    </div>
    <div class="" id="content_section">
        <div class="content-sub-section">
            <div ng-include="'/templates/content.html'"/>
        </div>
    </div>
</div>
